// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$color-coral:#EE6055;
$color-green:#60d394;
$color-acidgreen:#AAF683;
$color-yellow:#FFD97D;
$color-orange:#FF9B85;


